.returnlesson{
    width: 9vh;
}

.lesson {
    font-size: 5.5vh;
    color: white;
    text-align: center;
    font-weight:bold;
    padding: 7.2vh;
}

.fixheight {
    max-height: 100%;
}