.readyload {
    padding-top: 32vh;
    width: 25vh;
    display: block;
    margin: auto;
}

.textchapterhi {
    text-align: center;
    font-size: 8vh;
    color: #666666;
    background: white;
    width: 80%;
    padding: 3vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.textchapterro {
    text-align: center;
    font-size: 5vh;
    color: white;
    margin: 2vh;
}

.textchapterth {
    text-align: center;
    font-size: 8vh;
    color: white;
    margin-top: 12vh;

}