.profile {
    font-size: 4vh;
    color: white;
    text-align: center;
}

.datafile {
    font-size: 3vh;
    color: white;
    margin-left: 2vh;
    line-height: 4.5vh;
}

.profileA{
   
    font-size: 3vh;
    padding: 3vh;
    width: 63%;
    color: white;
    background-color: #E995B1;
    border-radius: 10%;
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    margin-bottom: 4%;
    border: 1px white solid;

}

.profileB {
    
    font-size: 3vh;
    width: 35%;
    padding: 3vh;
    color: white;
    background-color: #E995B1;
    border-radius: 10%;
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    margin-bottom: 4%;
    border: 1px white solid;
}

.propic {
    margin-top: 2vh;
    height: 10vh;
}

.textscorepro {
    position: absolute;
    z-index: 100;
    padding-top: 5vh;
    padding-left: 8vh;
    font-size: 4vh;
    font-weight: bold;
    color: white;
}

.betweentable {
    margin-top: 2vh;
}

.tablescore {
    font-size: 3vh;
    color: #666666;
    text-align: center;
}

.iconplay {
    line-height: 3vh;
    font-size: 5vh;
}