.center {
    text-align: center;   
}

.centerLog{
    text-align: center; 
    font-size: 20px;    
}

.logoone {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.title {
    position: absolute;
    z-index: 100;
    padding-top: 24vh; 
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 5vh;
    font-weight: bold;
    color: #A1A9DD;
}

.onepic {
    z-index: 100;
    width: 100%;
    height: 65vh;
}

.twopic {
    margin-top: 2vh;
    width: 100%;
    height: 22vh;
}

.logotwo {
    width: 70vh;
    height: 6.8vh;
    display: block;
    margin: auto;
}

.homeB {
    position: absolute;
    left: 20%;
    text-align: center;
    font-size: 3.5vh;
    font-weight: bold;
    width: 55%;
    padding: 1.5vh;
    margin-top: 62vh; 
    color: #666666;
    background-color: white;
    border-radius: 20%;
    -moz-border-radius: 30px; 
    -webkit-border-radius: 30px; 
    margin-bottom: 4%;
}

.or {
    position: absolute;
    z-index: 100;
    left: 43%;
    width: 10%;
    text-align: center;
    font-size: 2.5vh;
    font-weight: bold;
    margin-top: 71vh; 
    color: #666666;
    background: white;
    border-radius: 50%;
}

.homelogoCMU {
    position: absolute;
    left: 2%;
    z-index: 100;
    width: 11vh;
    margin-top: 73vh; 
}

.homeB2 {
    position: absolute;
    left: 17%;
    text-align: center;
    font-size: 3.5vh;
    font-weight: bold;
    width: 70%;
    padding: 1vh;
    margin-top: 76vh; 
    color: #666666;
    background-color: white;
    border-radius: 20%;
    -moz-border-radius: 30px; 
    -webkit-border-radius: 30px; 
    margin-bottom: 4%;
}