
.gray {
    background-color: #666666;
    color: white;
}

.return {
    width: 7vh;
}

.stagemap {
    color: #666666;
    font-size: 3.2vh;
    margin: 2vh;
}

.textstate {
    font-size: 2.5vh;
    margin-left: 3.5vh;
    margin-top: 1vh;
}

.textstate1 {
    color: #E995B1;
}

.textstate2 {
    color: #F5B17E;
}

.textstate3 {
    color: #EBCD62;
}

.textstate4 {
    color: #C3DB76;
}

.textstate5 {
    color: #98D1A9;
}

.textstate6 {
    color: #93C3D9;
}

.textstate7 {
    color: #A1A9DD;
}

.textstate8 {
    color: #D0AAD3;
}

.statehok {
    margin-top: 32vh; 
    display: inline-block;    
    float: left;
    width: 100%;
    height: 11.5vh;
}

.state1 {
    height: 32vh;
    width: 100%;
}

.state2 {
    display: inline-block;    
    float: left;
    height: 24.4vh;
    width: 100%;
}

.state22 {
    height: 7.5vh;
    width: 100%;
}

.state3 {
    height: 32vh;
    width: 100%;
}

.state4 {
    height: 32vh;
    width: 100%;
}

.state5 {
    display: inline-block;   
    float: left;
    height: 13.3vh;
    width: 100%;
}

.state55 {
    height: 18.7vh;
    width: 100%;
}

.clickmap {
    font-size: 2.5vh;
    color: #666666;
    text-align: center;
}

.toaststate {
    .toast-message {
        font-size: 5vh;
        text-align: center;
  }
}