.iconperson {
    height: 13vh;
    margin: 2%; 
    float: right;
}

.textmenu {
    font-size: 4vh;
    color: white;
    text-align: center;
    font-weight:bold;
    padding: 7.7vh;
}

.borderbottom {
    border-bottom: 6px solid white !important;
}

.borderright {
    border-right: 6px solid white !important;
}

.namemenu {
    font-size: 2vh;
    margin: 3vh;
    font-weight:bold;
}
