<ion-content>
  <ion-grid class="nopadding fixheight" *ngIf="readymenu;else ready">
    <ion-row>
      <ion-col col-xl-3 class="hidden-lg-down bghidden"> </ion-col>
      <ion-col col-12 col-xl-6>
        <ion-row class="gray borderbottom">
          <ion-col col-9 *ngIf="typemenu;else quest">
            <div class="namemenu">Name : {{fullname}}</div>
            <div class="namemenu">Stage : {{statetext}}</div>
          </ion-col>
          <ng-template #quest>
            <ion-col col-9>
              <div class="namemenu">Name : {{name}}</div>
              <div class="namemenu">Stage : {{statetext}}</div>
            </ion-col>
          </ng-template>
          <ion-col col-3>
            <img class="iconperson" src="assets/imgs/profilestudent.png" (click)="openprofile()">
          </ion-col>
          <div class="head11"></div>

        </ion-row>
        <ion-row class="borderbottom">
          <ion-col col-9 class="blue borderright">
            <div class="textmenu" (click)="openMap()">Play</div>
          </ion-col>
          <ion-col col-3 class="yellow"></ion-col>
        </ion-row>
        <ion-row class="borderbottom">
          <ion-col col-3 class="green borderright"></ion-col>
          <ion-col col-9 class="pink">
            <div class="textmenu" (click)="openLesson()">Vocabulary Bank</div>
          </ion-col>
        </ion-row>
        <ion-row class="borderbottom ">
          <ion-col col-9 class="violet borderright">
            <div class="textmenu" (click)="openCre()">Credit</div>
          </ion-col>
          <ion-col col-3 class="yellow"></ion-col>
        </ion-row>
        <ion-row class="borderbottom">
          <ion-col col-3 class="green borderright"></ion-col>
          <ion-col col-9 class="orange">
            <div class="textmenu" (click)="exitApp()">Exit</div>
          </ion-col>
        </ion-row>
      </ion-col>
   <ion-col col-xl-3 class="hidden-lg-down bghidden"> </ion-col>
    </ion-row>
  </ion-grid>



  <ng-template #ready>
    <img class="readyload" src="assets/imgs/loading/lg.palette-rotating-ring-loader.gif">
  </ng-template>
</ion-content>
